Repository AlicjaA/EmployeeManagementSystem, pull requests merged in 2019-11, with the labels that each got.

#21 UML Use Case first version
  documentation/ems_diagrams.asta
  documentation/ems_diagrams/Main UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Employees/Manage Employees UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Positions/Manage Positions UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Work Agencies/Manage Work Agencies UseCase Diagram.jpg
Labels: documentation

#22 BPMN and extended UML diarams
  documentation/BPMN_New_Employee_Process.png
  documentation/New Employee Process.bpmn
  documentation/ems_diagrams.asta
  documentation/ems_diagrams/Main UseCase Diagram.jpg
  documentation/ems_diagrams/Main UseCase Diagram.jpg.bak
  documentation/ems_diagrams/Manage Employees/Manage Employees UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Employees/Manage Employees UseCase Diagram.jpg.bak
  documentation/ems_diagrams/Manage Positions/Manage Positions UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Positions/Manage Positions UseCase Diagram.jpg.bak
  documentation/ems_diagrams/Manage Work Agencies/Manage Work Agencies UseCase Diagram.jpg
  documentation/ems_diagrams/Manage Work Agencies/Manage Work Agencies UseCase Diagram.jpg.bak
Labels: documentation

#27 Added database creation script
  SQL/CreateDatabase.sql
Labels: enhancement

#28 Update .gitignore
  .gitignore
Labels: administration
